
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans:wght@400;700;800&display=swap');


/* 
dark navy: #0a111f
navy: #14213d
gold: #fca311
light grey: #d6d6d6
whiteish: #f9f9f9 
*/

h1, h2{
  font-family: 'Fascinate';
  color: #14213d;
  margin: 40px;
}

.main{
  color: #14213d;
  padding: 10px;
}
