
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Open+Sans:wght@400;700;800&display=swap');


/* 
dark navy: #0a111f
navy: #14213d
light navy: #1e325c
gold: #fca311
light grey: #d6d6d6
whiteish: #f9f9f9 
*/

h1, h2{
  font-family: 'Fascinate';
  color: #1e325c;
  margin: 30px;
  text-align: center;
}

.main-section{
  color: #1e325c;;
  padding: 10px;
  width: 80%;
  margin: auto;
}
