@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

/* 
dark navy: #0a111f
navy: #14213d
gold: #fca311
light grey: #d6d6d6
whiteish: #f9f9f9 
*/

.header{
    background-color: #D6D6D6;
    height: 165px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.link-list{
    text-align: center;
}

a{
    background-color: #f9f9f9 ;
    border-radius: 4px;
    color: #fca311;
    padding: 10px;
    margin: 10px;
    box-shadow: 1px 1px 3px #14213d ;
}

h1, h2 {
    font-family: 'Fascinate';
    color: #14213d;
    margin: 40px;
}

