.drink-list{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.drink-card{
    display:flex;
    color: #1e325c; 
    flex-direction: column;
    align-content: center;
    width: 220px;
    border: 2px solid #fca311;
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}
.drink-img{
    max-width: 200px;
}

h4{
    margin: 15px 0px;
}
button{
    margin: 10px;
    align-self: center;
}
h4{
    font-size: 20px;
    text-align: center;
}

h5{
  font-family: 'Fascinate';
  color:#fca311;
  font-size: 20px;
  text-align: center;
  margin: 2px 0px 12px 0px;
}